<div class="container-sm mt-5">
    <h1 class="fs-1">Stupid Coaching</h1>
    <div class="border-start border-3 ps-3">
        <p><%= params[:question]%></p>
        <footer class="blockquote-footer">You</footer>
    </div>
    <div class="border-start border-3 ps-3">
        <p><%= @answer%></p>
        <footer class="blockquote-footer">Coach answer</footer>
    </div>
    <p><a class="link-opacity-100" href="/ask">Ask another question</a></p>
</div>

